#parse("header.html")
<link rel="stylesheet" href="../../styles/index.css">
<link rel="stylesheet" href="../../styles/detail.css">

 <div class="zg-wrap zu-main clearfix " role="main">
        <div class="zm-profile-section-wrap zm-profile-followee-page">
            <!--
                <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <a href="#">${profileUser.user.name}</a> 关注了 ${profileUser.followerCount} 人
                    </span>
                </div>-->
                <div class="zm-profile-section-list">
                    <div id="zh-profile-follows-list">
                        <div class="zh-general-list clearfix">
                            <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                                <div class="zg-right">
                                    #if ($profileUser.followed)
                                    <button class="zg-btn zg-btn-unfollow zm-rich-follow-btn small nth-0
                                    js-follow-user" data-status="1" data-id="$profileUser.user.id">取消关注</button>
                                    #else
                                    <button class="zg-btn zg-btn-follow zm-rich-follow-btn small nth-0
                                    js-follow-user" data-id="$profileUser.user.id">关注</button>
                                    #end
                                </div>
                                <a title="Barty" class="zm-item-link-avatar" href="/user/${profileUser.user.id}/">
                                    <img src="${profileUser.user.headUrl}" class="zm-item-img-avatar">
                                </a>
                                <div class="zm-list-content-medium">
                                    <h2 class="zm-list-content-title"><a data-tip="p$t$buaabarty" href="/user/${profileUser.user.id}/" class="zg-link">${profileUser.user.name}</a></h2>

                                    <!-- <div class="zg-big-gray">计蒜客教研首席打杂</div> -->
                                    <div class="details zg-gray">
                                        <a target="_blank" href="/user/${profileUser.user.id}/followers" class="zg-link-gray-normal">${profileUser.followerCount}粉丝</a>
                                        /
                                        <a target="_blank" href="/user/${profileUser.user.id}/followees" class="zg-link-gray-normal">${profileUser.followeeCount}关注</a>
                                        /
                                        <a target="_blank" href="/user/${profileUser.user.id}/comments" class="zg-link-gray-normal">${profileUser.commentCount} 评论</a>
                                        /
                                        <a target="_blank" href="/user/${profileUser.user.id}/news" class="zg-link-gray-normal">${profileUser.newsCount} 新闻</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="zu-main-content">
            	<div class="zu-main-content-inner">
	                <div class="zg-section" id="zh-home-list-title">
	                    <i class="zg-icon zg-icon-feedlist"></i>评论
	                </div>
            	</div>
            </div>
               
			<div id="comments" class="comments">
			    #foreach($commentvo in $comments)
			    <div class="media">
			        <a href="/user/$!{commentvo.user.id}/"> $!{commentvo.user.name}
			        </a> 在新闻  <a href="/news/$!{commentvo.comment.entityId}">$!{commentvo.newsTitle}</a> 评论了
			    </div>
			    <div class="media">
			        <a class="media-left" href="/user/$!{commentvo.user.id}/">
			            <img src="$!{commentvo.user.headUrl}">
			        </a>
			        <div class="media-body">
			            <h4 class="media-heading">
			                <small class="date">$date.format('yyyy-MM-dd HH:mm:ss', $!{commentvo.comment.createdDate})
			                </small>
			            </h4>
			            <div>$!{commentvo.comment.content}</div>
			        </div>
			    </div>
			    #end
			</div>
</div>

        
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/profile.js"></script>
#parse("footer.html")