#parse("header.html")

    <div id="main">

        <div class="container" id="daily">
            <div class="jscroll-inner">
                <div class="daily">

                    <h3 class="date">周榜</h3>
                    #foreach($vo in $vos)

                    <h3 class="date">
                        <i class="fa icon-calendar"></i>
                        #set($cur = $foreach.index + 1)
                        <span> No. $cur  </span>
                        <span class="right">
                         &nbsp; &nbsp; $date.format('yyyy-MM-dd', $vo.news.createdDate)
                        </span>
                    </h3>
					
                    <div class="post">
                        <div class="votebar">
                            #if ($vo.like > 0)
                            <button class="click-like up pressed" data-id="$!{vo.news.id}" title="赞同"><i class="vote-arrow"></i><span class="count">$!{vo.news.likeCount}</span></button>
                            #else
                            <button class="click-like up" data-id="$!{vo.news.id}" title="赞同"><i class="vote-arrow"></i><span class="count">$!{vo.news.likeCount}</span></button>
                            #end
                            
                            #if ($vo.like < 0)
                            <button class="click-dislike down pressed" data-id="$!{vo.news.id}" title="反对"><i class="vote-arrow"></i></button>
                            #else
                            <button class="click-dislike down" data-id="$!{vo.news.id}" title="反对"><i class="vote-arrow"></i></button>
                            #end
                        </div>
                        <div class="content">
                            <div >
                                <img class="content-img" src="$!{vo.news.image}" alt="">
                            </div>
                            <div class="content-main">
                                <h3 class="title">
                                    <a target="_blank" rel="external nofollow" href="/news/$!{vo.news.id}">$!{vo.news.title}</a>
                                </h3>
                                <div class="meta">
                                    <a target="_blank" href="http://${vo.news.link}">${vo.news.link}</a>
                                    <span>
                                        <i class="fa icon-comment"></i> $!{vo.news.commentCount}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                <a href="/user/$!{vo.user.id}/"><img width="32" class="img-circle" src="$!{vo.user.headUrl}"></a>
                            </div>

                          
                        </div>

                        <div class="subject-name">来自 <a href="/user/$!{vo.user.id}/">$!{vo.user.name}</a></div>
                    </div>

                
                #if ($foreach.count == $vos.size()) ##最后有个元素要收尾
                </div>
                #end

				#end

                </div>
            </div>
        </div>


#if ($pop)
<script>
window.loginpop = $!{pop};
</script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
#end
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/profile.js"></script>
#parse("footer.html")